body{
    display: flex;
    align-items: flex-start;
}

.blue{
    padding:100px;
    background-color:RGB(73, 121, 209);
    
}

.yo{
    padding: 100px;
    margin: 25px;
     background-color:RGB(251, 222, 91);
     
}

.flex{
    display: flex;
}

.blue1{
    padding:100px;
    background-color:RGB(73, 121, 209);
}

.yo1{
    padding: 100px;
    margin: 25px;
     background-color:RGB(251, 222, 91);
     
}

.flex1{
    display: flex;
}

.red{
    padding-right: 350px;
}
