body {
    display: flex;
    align-items: flex-start;
}

.blue {
    padding: 100px;
    background-color: RGB(73, 121, 209);

}

.yo {
    padding: 100px;
    margin: 30px;
    background-color: RGB(251, 222, 91);

}

.red {
    padding-right: 360px;
}

.green {
    padding-bottom: 350px;

}

.flex {
    display: flex;
}

.ocean {
    padding-bottom: 350px;
}

.pink {
    padding-bottom: 360px;
    display: flex;
    height: 5px;
    width: 260px;
}

.purple {
    display: flex;
    width: 270px;
}

.blu {
    height: 260px;
}

.l{
    width: 520px;
}
.oi{
    height: 260px;
}

